*.pyc
*.pyd
*.py~
*.c
*.exp
*.lib
*.obj
*.html
*.so
*.zip
build/
animation_nodes/data_structures/lists/base_lists.pxd
animation_nodes/data_structures/lists/base_lists.pyx
animation_nodes/data_structures/lists/convert.pxd
animation_nodes/data_structures/lists/convert.pyx
config.py
