*.pyc
*.pyd
*.py~
*.c
*.exp
*.lib
*.obj
*.html
*.so
.log
animation_nodes/
build/
data_structures/lists/base_lists.pxd
data_structures/lists/base_lists.pyx
algorithms/lists/convert.pyx
algorithms/lists/create.pyx
algorithms/lists/convert.pxd
data_structures/lists/convert.pxd
data_structures/lists/convert.pyx
